<h4 class="first-h">Request medical help </h4>
<!--<h5 class="attention">Only authorized user can see list of requests or add a new one!</h5>-->
<h5 class="username"> {{userEmail}}</h5>

<hr class="line1">
<div >
  <input type="text" class="name-input" id="headline" placeholder="Short description"  [(ngModel)]="taskForm.name">
</div>

<div class="form-group">
  <textarea class="text-input" id="context" rows="8" placeholder="Please describe your illness here"  [(ngModel)]="taskForm.text"></textarea>
</div>
<div class="label">
  <button  class="add-btn btn-primary" (click)="createTask() " >Request Help</button>
</div>

<h4 class="second-h">Your requests</h4>

<hr class="line2">

<div class="sidenav">

  <ul class = "unmarkedList">
    <li *ngFor="let task of tasks" data-id ="{{task.id}}" >
      <button class="category-button  "   [ngClass]="selectedTask == task.id ? 'active' : '' "(click)="getText(task.id); selectTask(task.id); selectName(task.name)" >
        {{task?.name}}
      </button>
    </li>
  </ul>
<div>

</div>
    <textarea class="text " placeholder="Click at the order to see order descripton here" [value]="task?.text"  [(ngModel)]="taskFormUpd.text" >
      </textarea>


  <div >
    <button   class="update-btn btn-primary" (click)="updateTask() " >Update Request</button>
  </div>

  <div >
    <button   class="delete-btn btn-primary" (click)="deleteTask() " >Delete Request</button>
  </div>

<!--  <div >-->
<!--    <button   class="share-btn btn-primary" (click)="openForm(); getUsers()" >Share Request</button>-->
<!--  </div>-->

  <div class="form-popup" id="myForm">
    <h5>Choose user to share</h5>

    <ul class = "unmarkedList">
        <li *ngFor="let user of users" data-id ="{{user.email}}" >
          <button class="category-button  "   [ngClass]="selectedUser == user.email ? 'active' : '' "(click)=" selectUser(user.email); selectTaskText(task.text); selectTask(task.id); selectName(task.name)" >
            {{user?.email}}
          </button>
        </li>
      </ul>
      <div>
        <button class="submit-btn btn-danger" (click)="shareTask() " >Submit </button>
      </div>
  </div>
</div>

